@import url(reset.css);
:root {
    --cor-fundo-barra: midnightblue;
}
.barra{
    width: 100vw;
}
.barra_conteudo{
    background-color: var(--cor-fundo-barra);
    width: 100vw;
    height: 70px;
    color: white;
    box-shadow: 3px 5px 5px black;
}
.barra_info {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.campoInput {
    width: 200px;
    height: 30px;
    position: relative;
    margin: 3rem 0;
}
.campoInput input{
    position: absolute;
    inset: 0;
    background-color: transparent;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid black;
    border-radius: .5rem;
    color: black;
}
.campoInput label{
    position: relative;
    top: 30%;
    left: 1rem;
    transform: translateY(-30%);
    color: black;
    font-size: 1rem;
    pointer-events: none;
    padding: 0 .3rem;
    background-color: var(--cor-fundo-barra);
    transition: 200ms ease-in-out top,
                200ms ease-in-out font-size,
                200ms ease-in-out color;
}
.campoInput input:focus + label,
.campoInput input:focus + label{
    top: -10px;
    font-size: .8rem;
    color: black;
}